<%- include('../../shared/includes/head', { pageTitle: 'All Your Products' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Your Orders</h1>
  </main>
<%- include('../../shared/includes/footer') %>